/* header */

.navbar-default {
  background-color: #529096;
  border-color: #2183ec;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 2em;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px;
  padding-left: 1em;
  line-height: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: greenyellow;
  cursor: pointer;
}

/**Body**/

h1 {
  text-align: center;
  font-size: x-large;
}

h2 {
  text-align: center;
  font-size: 1.3em;
}

.container-fluid {
  position: absolute;
}
#Sushi-text,
#Beef-text,
#Chicken-text {
  height: auto;
  width: 100%;
  position: relative;
  background-color: silver;
  border: 3px solid silver;
  margin-bottom: 15px;
  padding: 15px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}
